body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.bodyPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    display: flex;
    width: 500px;
    gap: 5px;
    flex-direction: column;
}

.headerPrincipal {
    width: 100%;
    background-color: #BBBBBB;
    padding: 20px 0;
    margin-bottom: 20px;
}

.headerSection {
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 30px;
}

.tituloPrincipal {
    font-size: 60px;
    margin-bottom: 30px;
}

.searchContainer {
    height: 50%;
    display: flex;
}

#searchInput {
    text-align: center;
    height: 50px;
    width: 475px;
    font-size: 20px;
    border-radius: 5px;
}

.searchButton {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

.dropButton {
    background-color: #ff8300;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.searchOptionsContainer {
    position: relative;
    display: inline-block;
}

.searchOptions {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.searchOptions a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.searchOptions a:hover {
    background-color: #f1f1f1;
}

.searchOptionsContainer:hover .searchOptions {
    display: block;
}

.searchOptionsContainer:hover .dropButton {
    background-color: #b0630d;
}
